---
import type { CollectionEntry } from "astro:content"
import { renderInline } from "@utils/markdown/render.js"

import "./../styles/mixins/index.styl"

export interface Props {
  article: CollectionEntry<"article">
}

const { article } = Astro.props

const { data, slug } = await article

const { issue } = data
---

<div class="article-preview">
  <a href={`/issues/${issue}/${slug}`}>
    <div class="article-preview__id body-xxl bold">{slug.substring(4)}</div>

    <h3 class="md italic uppercase bold" set:html={renderInline(data.title)} />
    <p class="md" set:html={renderInline(data.description)} />
  </a>

  <style lang="stylus">



 .article-preview {
  clear: both;
  position: relative;
  padding-left: 6rem;
  min-height: 6rem;
 }
 .article-preview__id {
  padding-top: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  position: absolute;
  left: 0
  opacity: .5;
  font-variant-numeric: tabular-nums; 
 }
</style>
</div>
