---
import type { CollectionEntry } from "astro:content"
import { renderInline } from "@utils/markdown/render.js"

import "./../styles/mixins/index.styl"

export interface Props {
  article: CollectionEntry<"article">
}

const { article } = Astro.props

const { data, slug } = await article

const { issue } = data
---

<a class="article-preview" href={`/issues/${issue}/${slug}`}>
  
    <div class="article-preview__id body-xxl bold">{slug.substring(4)}</div>
    <div class="article-preview__body">
    <h3 class="md italic uppercase bold" set:html={renderInline(data.title)} />
    <p class="md" set:html={renderInline(data.description)} />
    </div>
  </a>

  <style lang="stylus">



 .article-preview {
  display flex
  flex-direction: column;
  
  // padding-top: 2rem;
  
  // padding-left: 6rem;
  // min-height: 6rem;
 }
 .article-preview__id {
  padding-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  text-decoration: none;
  
  left: 0
  opacity: .5;
  font-variant-numeric: tabular-nums; 
 }
</style>
</div>
