---
import { Picture } from "@astrojs/image/components"

import type { CollectionEntry } from "astro:content"
import { renderInline } from "@utils/markdown/render"


import pathiclesCover from "@assets/cover__pathicles.jpg"
import spaceCover from "@assets/cover__space.jpg"
import strategyCover from "@assets/cover__strategy.jpg"

const covers = {
  pathicles: pathiclesCover,
  space: spaceCover,
  strategy: strategyCover,
}

export interface Props {
  issue: CollectionEntry<"issue">
  href: string
}

const { issue } = Astro.props

const { coverImageAlt, title, subtitle_1, subtitle_2 } = issue.data

---

<div class="issue-preview" id={"issue-" + issue.slug}>
  <a href={`/issues/${issue.slug}`}>
    <Picture
      class="issue-preview__background-picture"
      src={covers[issue.slug]}
      alt={coverImageAlt}
      widths={[400, 868]}
      sizes="(max-width: 400px)) 400px, (min-width: 401px) 868px"
      aspectRatio={1}
    /><div class="issue-preview__body">
      <div class="issue-preview__header">
        <a href={`/issues/${issue.slug}`}>
          <h1 class="issue__title body-xxl uppercase">
            <span set:html={title} />
          </h1>
          <p class="issue__subtitle body-xl uppercase">
            <span set:html={renderInline(subtitle_1)} />
          </p>
          <p class="issue__subtitle body-xl uppercase">
            <span set:html={renderInline(subtitle_2)} />
          </p>
        </a>
      </div>
      <ul class="issue__toc">
        <li class="issue__toc-item">
          <!-- <router-link class="issue__toc-item-section-number" :to="article.path" v-html="&quot;00&quot; + (article.frontmatter.sectionNumber || [article.frontmatter.sectionNumber]).slice(-1)"></router-link>
        <router-link class="issue__toc-item-title" :to="article.path"><span v-html="article.frontmatter.title__html"></span></router-link> -->
        </li>
      </ul>
    </div>
  </a>
</div>

<style lang="stylus">

.issue-preview 
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  flex: 1 0 10rem;
  // border: rgba(white, 1) solid 0.5rem;
  padding: 0.5rem 0;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
  &:hover
    transition: background-color .1s
    background-color: var(--color-hover)
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5)


  a {
    text-decoration: none;
  }

  .issue-preview:hover a {
    text-decoration: underline;
  }

  .issue-preview__body {
    flex: 1;
  }



.issue__subtitle, .issue__title {
  box-decoration-break: clone;
  line-height: 3rem;
  
  
  
  
  span {
    background-color: rgba(white, .9);
    padding: 5px 1rem;
    box-shadow: 1px 0 6px black;
    
    
  }
}

.issue-preview__background-picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0
  right: 0;
}
</style>
