---
import { pwaInfo } from "virtual:pwa-info"

import { SITE } from "@config"
import "../styles/index.styl"
import "@fontsource/barlow-semi-condensed/400.css"
import "@fontsource/barlow-semi-condensed/700.css"
import Footer from "@components/Footer.astro"
import Header from "@components/Header.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"

export interface Props {
  title?: string
  author?: string
  description?: string
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <script is:inline src="/toggle-theme.js" defer></script>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <div class="layout">
      <div class="layout__header">
        <Header />
        <Breadcrumbs />
      </div>
      <div class="layout__main">
        <slot />
      </div>
      <div class="layout__footer">
        <Footer />
      </div>
    </div>
  </body>
</html>
