---
import { pwaInfo } from "virtual:pwa-info"

import { SITE } from "@config"
import "../styles/index.styl"
import "@fontsource/barlow-semi-condensed/400.css"
import "@fontsource/barlow-semi-condensed/700.css"

export interface Props {
  title?: string
  author?: string
  description?: string
  ogImage?: string
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

// const socialImageURL = new URL(Astro.url.origin).href

// const fallbackImageURL = new URL(SITE.ogImage, Astro.url.origin).href
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <script is:inline src="/src/_astro/scripts/toggle-theme.js" defer></script>
    <script src="/src/pwa.ts" defer></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <div class="layout">
      <div class="layout__main">
        <slot />
      </div>
    </div>
  </body>
</html>
